<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="layout/head :: head">
    <title>SPL Tagcloud navigation</title>
</head>
<body>
<footer th:fragment="footer" class="footer">
    <div class="container">
			<span class="text-muted"> <img src="/images/onekinLogo.png"
                                           alt="Logo" style="width: 150px; height: 70px;"> </img>
			</span>
    </div>
</footer>
</body>
</html>