<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/d3.layout.cloud.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.color.plus-names-2.1.2.min.js"></script>
    <script src="/js/tree/eqplot.js"></script>
    <script src="/js/tree/tree.js"></script>
    <script src="/js/color_functions.js"></script>

    <title>FeatureCloud</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
    <th:block layout:fragment="script"></th:block>


</head>
<body>

</body>
</html>