<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:include="layout/head :: head">
<th:block layout:fragment="script">
	<title>SPL Tagcloud navigation</title>
</head>
<body>
	<div th:substituteby="layout/navbar :: navbar"></div>
	<section layout:fragment="content">
		<p>Page content goes here</p>
	</section>
	<div th:substituteby="layout/footer :: footer"></div>
</body>
</html>