/* .footer {
	margin-top: 20px;
	bottom: 0;
	width: 100%;
	position: absolute;
} */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
    /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    padding-top: 20px;

}

td.hljs-ln-code {
	padding-left: 22px !important;
}

td.hljs-ln-numbers {
	text-align: right;
}

h2.asset-title {
	margin-bottom: 15px;
	margin-top: 0px;
}

table.hljs-ln {
	width: 100%;
}

table.hljs-ln>tbody>tr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

pre.code-pre {
	padding-bottom: 0px;
	padding-top: 0px;
	height: 70vh;
	overflow: auto;
}

.navbar {
	margin-bottom: 0px;
}

.filters-container {
	padding-left: 15%;
}

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	list-style: none;
	background-color: #0000;
	border-radius: 4px;
	padding-left: 50px;
}

.badge {
	min-width: 15px;
	min-height: 15px;
}

ul.legend {
	display: inline-flex;
	list-style-type: none;
}

.legend>li {
	margin-left: 8vh;
}

div.verticalScroll {
	height: 56vh;
	overflow-y: scroll;
}

.card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #f9f9f9; background-clip : border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	background-clip: border-box;
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.btn-link {
	font-weight: 400;
	color: #007bff;
	background-color: transparent;
}