<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<th:block layout:fragment="script">

	<link rel="stylesheet" href="/css/highlight/github.css">
	<link rel="stylesheet" href="/css/diff2html.min.css">
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
		crossorigin="anonymous">

	<script src="/js/highlight/highlight.pack.js"></script>
	<script src="/js/highlight/highlightjs-line-numbers.min.js"></script>
	<script src="/js/diff2html.min.js"></script>
	<script src="/js/diff2html-ui.min.js"></script>


	<script>
		hljs.initHighlightingOnLoad();
		hljs.initLineNumbersOnLoad();
	</script>

</th:block>
</head>
<body>

	<section layout:fragment="content">

		<div class="title-container">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a th:href="@{/features/?product=}+${product}">Features</a></li>
				<li><a th:href="@{/features/}+${currentFeature}+@{/?product=}"
					th:text="${#strings.capitalize(currentFeature)}"></a></li>
				<!-- <li class="active"><span th:text="${coreAsset.name}"></span></li> -->
			</ol>
			<h2 class="analisy-mode-vp display-4">Variation points diff
				analysis</h2>

		</div>
		<div class="container">

			<div id="accordion">
				<div class="card" th:each="diffValue,iter : ${diffValues}">
						<h5 class="mb-0"th:inline="text">
								TYPE: [[${#strings.capitalize(diffValue.second)}]]
						</h5>
						<div class="card-body diffview" th:id="'diffview'+${iter.index}"></div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			/*<![CDATA[*/
				function getMetaContentByName(name, content) {
					var content = (content == null) ? 'content' : content;
					return document.querySelector("meta[name='" + name + "']")
							.getAttribute(content);
				}
				$(document).ready(function() {
					/** For the diff view **/
					var diffValues = /*[[${diffValues}]]*/;
					diffValues.forEach(function(diffvalue,i){
						if (diffvalue.first == null)
							diffvalue.first="Could not obtain diff value";
						console.log("diffvalue:\n" + diffvalue.first);
						var diff2htmlUi = new Diff2HtmlUI({
							diff : diffvalue.first
						});
						console.log(diff2htmlUi);
						diff2htmlUi.draw('#diffview'+i, {
							inputFormat : 'json',
							showFiles : true,
							matching : 'lines'
						});
						diff2htmlUi.highlightCode('#diffview'+i);
					});
					/*double*/
				});//end of on document load
				
				/*]]>*/
			</script>
	</section>


</body>
</html>

