<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/template">

<body>
	<section layout:fragment="content">


		<nav class="navbar navbar-default">
			<div class="container-fluid filters-container">
				<!-- Brand and toggle get grouped for better mobile display -->

				<!-- Collect the nav links, forms, and other content for toggling -->

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Filters </a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav">
						<li><a>Product release:</a></li>
						<li class="dropdown" id="product-list"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false"
							th:data-id="${filterProduct.idProductRelease}" th:inline="text">[[${filterProduct.name}]]
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu filter-menu">
								<li><a href="#" data-id="0">All</a></li>
								<th:block th:each="product : ${products}">
									<li role="separator" class="divider"></li>
									<li><a href="#" th:text="${product.name}"
										th:data-id="${product.idProductRelease}"></a></li>
								</th:block>
							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>
		<div th:fragment="breadcrumb">
			<ol class="breadcrumb breadcrumb-arrow">
				<li><a href="/">Home</a></li>
				<li class="active"><span>Features</span></li>
				<li></li>
			</ol>
		</div>
	<div id="tp"></div>		
	<script th:inline="javascript">

				
				var xScale = d3.scale.linear()
				.domain([0, [[${maxModifiedLines}]] ])
				.range([70, 255]);
				var xScaleScattering = d3.scale.linear()
				.domain([ [[${minScattering}]], [[${maxScattering}]] ])
				.range([0.7, 4]);
				
		
				options.treestring=[[${newickString}]];
			    options.labelcolors= /*[# th:each="feature,iter : ${features}"]*/[[${feature.name.toUpperCase()}]]+":#0000ff"+ Math.floor(xScale([[${feature.linesDeleted+feature.linesAdded}]])).toString(16)/*[# th:unless="${iter.last}"]*/+","+ /*[/]*//*[/]*/; 
			    options.labelscales= /*[# th:each="feature,iter : ${features}"]*/[[${feature.name.toUpperCase()}]]+":"+ Math.round(xScaleScattering([[${feature.featureScattering}]]) * 100) / 100/*[# th:unless="${iter.last}"]*/+","+ /*[/]*//*[/]*/; 
				 

      
      		    $(function(){

      		        $(".filter-menu").on('click', 'li a', function(){
      		          $(this).parents('.dropdown').find('.dropdown-toggle').html($(this).text()+"<span class='caret'></span>");
      		          $(this).parents('.dropdown').find('.dropdown-toggle').attr('data-id',$(this).attr('data-id'));
      		          $(this).parents('.dropdown').find('.dropdown-toggle').val($(this).text()+"<span class='caret'></span>");
      		          
      		       	$.ajax({
      		       		type: 'POST',
      		       		url : "/features/filtered",
      		       		accept: "application/json",
      		       		data: JSON.stringify({ productReleaseId :$("#product-list").find('.dropdown-toggle').attr("data-id"), developerId :$("#developer-list").find('.dropdown-toggle').attr("data-id")}),
      		       		datatype:"json",
      		       		contentType: "application/json",
      		       		success: function(data) {
      		            }
      		       		
      		       	});
      		        	
      		        });

      		    });

			</script>

	</section>



</body>
</html>

