<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/template">

<body>
	<section layout:fragment="content">


		<nav class="navbar navbar-default">
			<div class="container-fluid filters-container">
				<!-- Brand and toggle get grouped for better mobile display -->

				<!-- Collect the nav links, forms, and other content for toggling -->

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Filters </a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav">
						<li><a>Product release:</a></li>
						<li class="dropdown" id="product-list"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false"
							th:data-id="${filterProduct.idProductRelease}" th:inline="text">[[${filterProduct.name}]]
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu filter-menu">
								<li><a href="#" data-id="0">All</a></li>
								<th:block th:each="product : ${products}">
									<li role="separator" class="divider"></li>
									<li><a href="#" th:text="${product.name}"
										th:data-id="${product.idProductRelease}"></a></li>
								</th:block>
							</ul></li>

						<li><a>Developer: </a></li>
						<li class="dropdown" id="developer-list"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false"
							th:data-id="${filterDeveloper.idDeveloper}" th:inline="text">[[${filterDeveloper.name}]]
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu filter-menu">
								<li><a href="#" data-id="0">All</a></li>
								<th:block th:each="developer : ${developers}">
									<li role="separator" class="divider"></li>
									<li><a href="#" th:text="${developer.name}"
										th:data-id="${developer.idDeveloper}"></a></li>
								</th:block>
							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>
		<div th:fragment="breadcrumb">
			<ol class="breadcrumb breadcrumb-arrow">
				<li><a href="/">Home</a></li>
				<li class="active"><span>Features</span></li>
				<li></li>
			</ol>
		</div>

		<div id="tagcloud"></div>


		<script th:inline="javascript">


			    var frequency_list = [    	  	
			    ];
			    /*[# th:each="feature : ${features}"]*/
				frequency_list.push({"text":[[${feature.name}]],"size": [[${feature.linesDeleted}+${feature.linesAdded}]], "id":[[${feature.id}]]});
			    /*[/]*/
			            var svg_location = "#tagcloud";
        var width = $(document).width();
        var height = 700;
			drawWordCloud(frequency_list);
			    

      function drawWordCloud(frequency_list){
      


        var fill =  d3.scale.linear()
        .domain([0,1,2,3,4,5,6,10,15,20,100])
        .range(["#ccccff","#b2b2ff","#9999ff", "#7f7fff", "#6666ff", "#4c4cff", "#3232ff","#1919ff","#0000ff","#0000cc","#0000e5","#0000ff"]);


        var xScale =  d3.scale.linear()
           .domain([0, d3.max(frequency_list, function(d) {
              return d.size;
            })
           ])
           .range([14,90]);

        d3.layout.cloud().size([width, height])
          .timeInterval(20)
          .words(frequency_list)
          .fontSize(function(d) { return xScale(+d.size); })
          .text(function(d) { return d.text; })
          .rotate(0)
          .font("Impact")
          .on("end", draw)
          .start();

        function draw(words) {
          d3.select(svg_location).append("svg")
              .attr("width", width)
              .attr("height", height)
            .append("g")
              .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
            .selectAll("text")
              .data(words)
              .enter().append("a").attr("feature-id",function(d) { return d.id.toLowerCase(); })
    	      .attr("href","#")
    	      .append("text")
    	      .style("font-size", function(d) { return  d.size+ "px"; })
    	      .style("font-family", "Impact")
    	      .attr("text-anchor", "middle")
    		  .style("fill", function(d, i) { return fill(i); })
    	      .attr("transform", function(d) {
    	        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
    	      })
    	      .text(function(d) { return d.text; });
        }

        d3.layout.cloud().stop();
        
        
	    $(function(){

	        $(".filter-menu").on('click', 'li a', function(){
	          $(this).parents('.dropdown').find('.dropdown-toggle').html($(this).text()+"<span class='caret'></span>");
	          $(this).parents('.dropdown').find('.dropdown-toggle').attr('data-id',$(this).attr('data-id'));
	          $(this).parents('.dropdown').find('.dropdown-toggle').val($(this).text()+"<span class='caret'></span>");
	          
	       	$.ajax({
	       		type: 'POST',
	       		url : "/features/filtered",
	       		accept: "application/json",
	       		data: JSON.stringify({ productReleaseId :$("#product-list").find('.dropdown-toggle').attr("data-id"), developerId :$("#developer-list").find('.dropdown-toggle').attr("data-id")}),
	       		datatype:"json",
	       		contentType: "application/json",
	       		success: function(data) {
	       			var newList=[]
	       			data.features.forEach(function(feature) {
	       			 fontSize = feature.linesDeleted+feature.linesAdded;
	 				newList.push({"text":feature.name,"size": fontSize, "id": feature.id});
	       			});
	       			$("#tagcloud").find("svg").remove()
	       			  var xScale =  d3.scale.linear()
			           .domain([0, d3.max(newList, function(d) {
			              return d.size;
			            })
			           ])
			           .range([14,90]);
	       		  d3.layout.cloud().size([width, height])
		              .timeInterval(20)
		              .words(newList)
		              .fontSize(function(d) { return xScale(+d.size); })
		              .text(function(d) { return d.text; })
		              .rotate(0)
		              .font("Impact")
		              .on("end", draw)
		              .start();
	            }
	       		
	       	});
	        	
	        });

	    });
	    
	    
	    $(function(){   $("#tagcloud").on('click', 'svg g a', function(){
	    	$(location).attr('href', $(this).attr("feature-id")+"/?product="+$("#product-list").find('.dropdown-toggle').attr("data-id")+"&developer="+$("#developer-list").find('.dropdown-toggle').attr("data-id"));					
	    });});
      }
			    
			 
			</script>

	</section>



</body>
</html>

