<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/template">
<body>
	<section layout:fragment="content">
		<div class="container">


			<div class="row">
				<div class="col-md-6" id="tagcloud"></div>
				<div class="col-md-6"></div>
			</div>


			<script th:inline="javascript">

			    var frequency_list = [    	  	
			    ];
			    var fontSize;
			    /*[# th:each="variationPoint : ${variationPoints}"]*/
			    fontSize = Math.floor([[${variationPoint.linesDeleted}+${variationPoint.linesAdded}/${totalLines}*100*${#lists.size(variationPoints)}]])
				frequency_list.push({"text":"[[${variationPoint.id}]]","size": fontSize, "coreAssetName":[[${variationPoint.coreAssetName}]], "coreAssetId":"[[${variationPoint.coreAssetId}]]"});
			    /*[/]*/
			    
			
				var color = d3.scale.linear()
			            .domain([0,1,2,3,4,5,6,10,15,20,100])
			            .range(["#ccccff","#b2b2ff","#9999ff", "#7f7fff", "#6666ff", "#4c4cff", "#3232ff","#1919ff","#0000ff","#0000cc","#0000e5","#0000ff"]);
			
			 
			    var size = [800, 450]
			    d3.layout.cloud().size(size)
			            .words(frequency_list)
			    		.rotate(0)
			    		.padding(5)
			            .fontSize(function(d) { return d.size; })
			            .on("end", draw)
			            .start();
			    function draw(words) {
			    	  d3.selectAll("#tagcloud").append("svg")
			    	      .attr("width", size[0])
			    	      .attr("height", size[1])
			    	    .append("g")
			    	      .attr("transform", "translate(" + size[0]/2 + "," + size[1]/2+ ")")
			    	    .selectAll("text")
			    	      .data(words)
			    	    .enter()
			    	      .append("a").attr("href",function(d) { return "/asset/"+d.coreAssetId; })
			    	       .attr("data-toggle", "tooltip")
			    	      .attr("data-placement", "top")
			    	      .attr("title",function(d) { return d.coreAssetName; })
			    	      .append("text")
			    	      .style("font-size", function(d) { return (d.size>12  ? d.size : 14)+ "px"; })
			    	      .style("font-family", "Impact")
			    	      .attr("text-anchor", "middle")
			    		  .style("fill", function(d, i) { return color(i); })
			    	      .attr("transform", function(d) {
			    	        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
			    	      })
			    	      .text(function(d) { return d.text; });
			    	}
			    
				$(function () {
					  $('[data-toggle="tooltip"]').tooltip({
						    'container': 'body',
						    'placement': 'bottom'
						})
					})
					
				
			</script>
		</div>

	</section>

</body>
</html>
