<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
</head>
<body>
	<header th:fragment="navbar" class="navbar navbar-light bg-faded">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Feamulus</a>
				</div>
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	<div
		class="feamulus-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Welcome to Feamulus</h1>
		<p class="lead">Feamulus (FEAture and cuMULUS) is a tag based visualization tool used to improve comprehensibility and maintenance of preprocessor-based SPL code.</p>
	</div>
	<div class="vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-md-2"></div>

				<div class="col-sm-4 col-md-4">
					<a href="features/">
						<div class="thumbnail">
							<i class="fas fa-chart-line" style="font-size: 120px;"></i>
							<div class="caption">
								<h3 class="main-menu">Delta Analysis</h3>
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-4 col-md-4">
					<div class="thumbnail">
						<i class="fas fa-cogs" style="font-size: 120px;"></i>
						<div class="caption">
							<h3 class="main-menu">Release Snapshot Analysis</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:fragment="footer" class="footer">
		<div class="container">
			<span class="text-muted"> <img src="/images/onekinLogo.png"
				alt="Logo" style="width: 150px; height: 70px;"> </img>
			</span>
		</div>
	</footer>
</body>
</html>
