<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/template">
<body>
<section layout:fragment="content">
    <!-- <nav class="navbar navbar-default">
        <div class="container-fluid filters-container">
            <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span> <span
                class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Filters </a>
    </div>
    <div class="collapse navbar-collapse"
        id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
            <li><a>Product release:</a></li>
            <li class="dropdown" id="product-list"><a href="#"
                class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false"></a>
        </ul>
    </div>
     /.navbar-collapse
</div>
</nav>-->

    <div class="title-container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/release/features/" class="breadcrumb-link">Features</a></li>
                    <li class="active"><span
                            th:text=${#strings.capitalize(currentFeature)}></span></li>
                    <li></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item active">
                        <a class="nav-link active" id="feature-sibling-tab" data-toggle="tab" href="#feature-siblings"
                           role="tab" aria-controls="home" aria-selected="true">Feature siblings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="issues-tab" data-toggle="tab" href="#issues" role="tab"
                           aria-controls="profile" aria-selected="false">GitHub Issues</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content active in" id="myTabContent">
        <div class="tab-pane fade active in" id="feature-siblings" role="tabpanel"
             aria-labelledby="feature-sibling-tab">
            <div id="tagcloud"></div>
        </div>
        <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
            <div id="issuescloud"></div>
        </div>
    </div>


    <script th:inline="javascript">

        var frequency_list = [];

        var feature = [[${currentFeature}]];
        var frequency_list = [];
        /*[# th:each="featureSibling : ${featureSiblings}"]*/
        frequency_list.push({
            "text": [[${featureSibling.featureExpression}]], "size": [[${featureSibling.modifiedLines}]],
            "coreAssetId": "[[${featureSibling.id}]]"
        });
        /*[/]*/

        var issues = [];
        /*[# th:each="issue : ${featureIssues}"]*/
        issues.push({
            "text": [[${issue.title}]], "size": Math.random()
        });
        /*[/]*/


        var width = $(document).width();
        var height = 620;
        var svg_location = "#tagcloud";

        async function draw(words, callback) {
            d3.selectAll(svg_location).append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + [width >> 1, height / 3 * 2] + ")")
                .selectAll("text")
                .data(words)
                .enter()
                .append("a").attr("href", function (d) {
                return "asset/" + d.coreAssetId + "/";
            })
                .attr("data-toggle", "tooltip")
                .attr("data-placement", "top")
                .append("text")
                .style("font-size", function (d) {
                    return d.size + "px";
                })
                .style("font-family", "Impact")
                .attr("text-anchor", "middle")
                .style("fill", function (d, i) {
                    return '#0000ff';
                })
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .html(function (d) {
                    return d.text;
                });
            setToolTip();
            if (typeof callback === "function") {
                callback()
            }
        }

        drawWordCloud(frequency_list, function () {
            svg_location = "#issuescloud";
            drawWordCloud(issues);
        });

        function drawWordCloud(frequency_list, callback) {

            var xScale = d3.scale.linear()
                .domain([0, d3.max(frequency_list, function (d) {
                    return d.size;
                })])
                .range([14, 45]);

            d3.layout.cloud().size([width, height])
                .timeInterval(20)
                .words(frequency_list)
                .padding(3)
                .fontSize(function (d) {
                    return xScale(+d.size);
                })
                .text(function (d) {
                    if (d.text.length > 90) {
                        return "<tspan x='0'>" + (d.text.substring(0, d.text.length / 2) + "</tspan><tspan x='0' dy='1.2em'>" + d.text.substring(d.text.length / 2, d.text.length)).trim() + "</tspan>";
                    } else {
                        return d.text;
                    }
                })
                .rotate(0)
                .font("Impact")
                .on("end", function (cloud) {
                    draw(cloud, callback)
                })
                .start();


            $(function () {

                $(".filter-menu").on('click', 'li a', function () {
                    $(this).parents('.dropdown').find('.dropdown-toggle').html($(this).text() + "<span class='caret'></span>");
                    $(this).parents('.dropdown').find('.dropdown-toggle').attr('data-id', $(this).attr('data-id'));
                    $(this).parents('.dropdown').find('.dropdown-toggle').val($(this).text() + "<span class='caret'></span>");

                    $.ajax({
                        type: 'POST',
                        url: "/variationpoints/filtered",
                        accept: "application/json",
                        data: JSON.stringify({
                            productReleaseId: $("#product-list").find('.dropdown-toggle').attr("data-id"),
                            developerId: $("#developer-list").find('.dropdown-toggle').attr("data-id"),
                            featureName: feature
                        }),
                        datatype: "json",
                        contentType: "application/json",
                        success: function (data) {
                            var newList = []
                            data.variationPoints.forEach(function (variationPoint) {
                                fontSize = variationPoint.linesDeleted + variationPoint.linesAdded;
                                newList.push({
                                    "text": variationPoint.expression,
                                    "size": fontSize,
                                    "coreAssetId": variationPoint.coreAssetId
                                });
                            });
                            $(".legend").empty();

                            $("#tagcloud").find("svg").remove()
                            var xScale = d3.scale.linear()
                                .domain([0, d3.max(newList, function (d) {
                                    return d.size;
                                })
                                ])
                                .range([12, 55]);
                            d3.layout.cloud().size([width, height])
                                .timeInterval(20)
                                .words(newList)
                                .fontSize(function (d) {
                                    return xScale(+d.size);
                                })
                                .text(function (d) {
                                    return d.text;
                                })
                                .rotate(0)
                                .font("Impact")
                                .on("end", draw)
                                .start();
                            setToolTip();
                        }

                    });

                });

            });
        }


        function setToolTip() {
            $('[data-toggle="tooltip"]').tooltip({
                'container': 'body',
                'placement': 'bottom'
            })
        }


    </script>

</section>

</body>
</html>
