<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/template">
<head>
    <th:block layout:fragment="script">
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="/css/bootstrap-datepicker3.standalone.min.css">


        <script src="/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet"
              href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </th:block>
</head>
<body>
<section layout:fragment="content">

    <div class="title-container">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/">Home</a></li>
            <li class="active"><span>Features 0640bd0</span></li>
            <li></li>
        </ol>
        <div class="analisy-mode right">
            <div class="filter-buttons">
                <div class="dropdown">
                    <button id="selectedProduct"
                            class="btn btn-primary dropdown-button" data-id="All">
                        Feature configuration: All<i class="fas fa-chevron-down"></i>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <i class="fas fa-search"></i> <input type="text"
                                                             placeholder="Search.." id="myInput" class="searchInput"
                                                             onkeyup="filterFunction('myinput','mydropdown')"> <a
                            href="#" class="prod-config" data-id="0">All</a> <a
                            th:each="product : ${products}" href="#" class="prod-config"
                            th:text="${product.productId}"></a>
                    </div>
                </div>
                <!-- Package filter -->
                <div class="dropdown">
                    <button id="selectedPackage"
                            class="btn btn-primary dropdown-button" data-id="0">
                        Module selection: All<i class="fas fa-chevron-down"></i>
                    </button>
                    <div id="packageDropdown" class="dropdown-content">
                        <i class="fas fa-search"></i> <input type="text"
                                                             placeholder="Search.." id="myInput2" class="searchInput"
                                                             onkeyup="filterFunction('myInput2','packageDropdown')">
                        <a href="#" class="componentPackage-config" data-id="0">All</a> <a
                            th:each="componentPackage : ${componentPackages}" href="#"
                            class="componentPackage-config"
                            th:text="${componentPackage.name}"
                            th:data-id="${componentPackage.idpackage}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr/>
    <div id="tp">
        <div class="thumbnail tree-info" style="">
            <h4>Delta metadata</h4>
            <hr>
            <p class="c6 c12">
                <span class="c0">FROM:&nbsp;</span><span class="c20">(21 Dec
						2017)</span><span class="c25">&nbsp;</span><span class="c0">-
						TO:&nbsp;</span><span class="c20">(31 Dec 2017)</span>
            </p>

            <p class="c6 c12">
                <span class="c0">HASHES: &nbsp;</span><span class="c6 c12">9c00cff</span><span
                    class="c6 c12">&nbsp;- 8dc10fb4 </span>
            </p>
            <p class="c6 c12">
                <span class="c0">TAGS: </span><span class="c6 c12">1.1.7 </span><span
                    class="c6 c12">&nbsp;- 1.1.8</span>
            </p>
            <p class="c6 c12">
                <span class="c0">Total code churn: &nbsp;</span><span
                    class="c9"> 694 insertions(+), 223 deletions(-)</span>
            </p>
            <p class="c6 c12">
                <span class="c0">#ifdefs modified:</span><span class="c9">&nbsp;228</span>
            </p>

        </div>
        <div class="slider-container">
            <p>
                <label for="amount">Minimum Scattering level:</label> <input type="text" id="amountScattering"
                                                                             class="slider-amount"
                                                                             readonly=""
                                                                             style="border: 0; color: #6e9bfb; font-weight: bold;">
            </p>
            <div id="slider-scattering" style="height: 200px;"
                 class="ui-slider ui-corner-all ui-slider-vertical ui-widget ui-widget-content">
                <div
                        class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min"
                        style="height: 35%;"></div>
                <span tabindex="0"
                      class="ui-slider-handle ui-corner-all ui-state-default"
                      style="bottom: 35%;"></span>
            </div>
            <p style="margin-top: 5vh;">
                <label for="amount">Minimum FeatureSiblings:</label> <input type="text" id="amountTangling"
                                                                            class="slider-amount"
                                                                            readonly=""
                                                                            style="border: 0; color: #6e9bfb; font-weight: bold;">
            </p>
            <div id="slider-tangling" style="height: 200px;"
                 class="ui-slider ui-corner-all ui-slider-vertical ui-widget ui-widget-content">
                <div
                        class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min"
                        style="height: 67%;"></div>
                <span tabindex="0"
                      class="ui-slider-handle ui-corner-all ui-state-default"
                      style="bottom: 67%;"></span>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var features = [[${features}]];

        $(".dropdown-button").click(function () {
            if ($(this).siblings(".dropdown-content").hasClass("show")) {
                $(this).siblings(".dropdown-content").removeClass("show");
            } else {
                $(this).siblings(".dropdown-content").addClass("show");
            }
        });
        $('body').click(function (e) {
            if (!$(".dropdown").is(e.target) && $(".dropdown").has(e.target).length === 0) {
                $(".dropdown-content").removeClass("show")
            }
            ;
        })

        var xScale = d3.scale.linear()
            .domain([0, [[${maxModifiedLines}]]])
            .range([100, 255]);
        var xScaleScattering = d3.scale.linear()
            .domain([1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 100000])
            .range([0.4, 0.6, 0.8, 0.8, 0.9, 0.9, 1, 1, 1.2, 1.2, 1.4, 1.5, 1.5]);


        options.treestring = [[${newickString}]];
        options.labelcolors = /*[# th:each="feature,iter : ${features}"]*/[[${feature.name.toUpperCase()}]] + ":#0000ff" + Math.floor(xScale([[${feature.linesAdded}]])).toString(16)/*[# th:unless="${iter.last}"]*/ + "," + /*[/]*//*[/]*/;
        options.labelscales = /*[# th:each="feature,iter : ${features}"]*/[[${feature.name.toUpperCase()}]] + ":" + Math.round(xScaleScattering([[${feature.featureScattering}]]) * 100) / 100/*[# th:unless="${iter.last}"]*/ + "," + /*[/]*//*[/]*/;


        $(function () {

            $(".filter-menu").on('click', 'li a', function () {
                $(this).parents('.dropdown').find('.dropdown-toggle').html($(this).text() + "<span class='caret'></span>");
                $(this).parents('.dropdown').find('.dropdown-toggle').attr('data-id', $(this).attr('data-id'));
                $(this).parents('.dropdown').find('.dropdown-toggle').val($(this).text() + "<span class='caret'></span>");

                $.ajax({
                    type: 'POST',
                    url: "/release/features/filtered",
                    accept: "application/json",
                    data: JSON.stringify({
                        productReleaseId: $("#product-list").find('.dropdown-toggle').attr("data-id"),
                        developerId: $("#developer-list").find('.dropdown-toggle').attr("data-id")
                    }),
                    datatype: "json",
                    contentType: "application/json",
                    success: function (data) {
                    }

                });

            });

        });



        successHandler = function (data) {
            var labelcolors = "";
            var labelscales = ""
            features = data.features;
            data.features.forEach(function (element, index, array) {
                labelcolors += element.name + ":#0000ff" + Math.floor(xScale(element.linesDeleted + element.linesAdded)).toString(16)
                labelscales += element.name + ":" + Math.round(xScaleScattering(element.featureScattering) * 100) / 100
                if (index < array.length - 1) {
                    labelscales += ", "
                    labelcolors += ", "
                }
            });
            options.labelcolors = labelcolors;
            options.labelscales = labelscales;
            options.treestring = data.newickString
            $("#tp").find("svg").remove();
            doplot();
        };
        ajaxCall = function () {
            $.ajax({
                type: 'GET',
                url: "/release/features/filtered?product=" + $("#selectedProduct").attr("data-id") + "&packageId=" + parseInt($("#selectedPackage").attr("data-id")),
                accept: "application/json",
                success: successHandler
            });
        };
        $(".componentPackage-config").click(function (e) {
            $(e.currentTarget).parent().siblings("button").attr("data-id", $(e.currentTarget).attr("data-id"));
            $(e.currentTarget).parent().siblings("button").html("Feature configuration: " + e.currentTarget.text + "<i class='fas fa-chevron-down'></i>");
            ajaxCall();

        });
        $(".prod-config").click(function (e) {
            $(e.currentTarget).parent().siblings("button").attr("data-id", e.currentTarget.text)
            $(e.currentTarget).parent().siblings("button").html("Feature configuration: " + e.currentTarget.text + "<i class='fas fa-chevron-down'></i>");
            ajaxCall();

        });


    </script>

</section>


</body>
</html>

