<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/template">
<body>
	<section layout:fragment="content">
		<nav class="navbar navbar-default">
			<div class="container-fluid filters-container">
				<!-- Brand and toggle get grouped for better mobile display -->

				<!-- Collect the nav links, forms, and other content for toggling -->

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Filters </a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav">
						<li><a>Product release:</a></li>
						<li class="dropdown" id="product-list"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false"
							th:data-id="${filterProduct.idProductRelease}" th:inline="text">[[${filterProduct.name}]]
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu filter-menu">
								<li><a href="#" data-id="0">All</a></li>
								<th:block th:each="product : ${products}">
									<li role="separator" class="divider"></li>
									<li><a href="#" th:text="${product.name}"
										th:data-id="${product.idProductRelease}"></a></li>
								</th:block>
							</ul></li>

						<li><a>Developer: </a></li>
						<li class="dropdown" id="developer-list"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false"
							th:data-id="${filterDeveloper.idDeveloperGroup}" th:inline="text">[[${filterDeveloper.name}]]
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu filter-menu">
								<li><a href="#" data-id="0">All</a></li>
								<th:block th:each="developer : ${developers}">
									<li role="separator" class="divider"></li>
									<li><a href="#" th:text="${developer.name}"
										th:data-id="${developer.idDeveloperGroup}"></a></li>
								</th:block>
							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>
		<div>
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="#" class="breadcrumb-link">Features</a></li>
				<li class="active"><span
					th:text=${#strings.capitalize(currentFeature)}></span></li>
				<li></li>
			</ol>
		</div>
		<div id="tagcloud"></div>


		<script th:inline="javascript">
		
			    var frequency_list = [    	  	
			    ];
				
				var feature = [[${currentFeature}]];
			    var frequency_list = [    	  	
			    ];
			    var groupSet = new Array();
			    var devGroup;
			    /*[# th:each="variationPoint : ${variationPoints}"]*/
			    devGroup = [[${variationPoint.mostImportantDeveloperGroup.devGroup}]];
			    addUniqueGroup(devGroup, groupSet);
				frequency_list.push({"text":[[${variationPoint.expression}]],"size": [[${variationPoint.linesDeleted}+${variationPoint.linesAdded}]],
					"coreAssetName":[[${variationPoint.coreAssetName}]], "coreAssetId":"[[${variationPoint.id}]]","color": [[${variationPoint.mostImportantDeveloperGroup.devGroup.color}]] +colorGraduation([[${variationPoint.linesDeleted+variationPoint.linesAdded}]],[[${variationPoint.mostImportantDeveloperGroup.modifiedLines}]])});
			    /*[/]*/
			    
			    groupSet.sort(compareDevGroups).forEach(function(element){
			    	$(".legend").append('<li> Dev Group '+element.idDeveloperGroup+' <span class="badge" style="background-color:'+element.color+'"> </span></li>')
			    });		       
			    var svg_location = "#tagcloud";
		        var width = $(document).width();
		        var height = 620;

				function draw(words) {
					d3.selectAll(svg_location).append("svg")
						.attr("width", width)
						.attr("height", height)
						.append("g")
						.attr("transform", "translate(" + [width >> 1, height/3*2] + ")")
						.selectAll("text")
						.data(words)
						.enter()
						.append("a").attr("href", function (d) {
							return "asset/" + d.coreAssetId;
						})
						.attr("data-toggle", "tooltip")
						.attr("data-placement", "top")
						.attr("title", function (d) {
							return d.coreAssetName;
						})
						.append("text")
						.style("font-size", function (d) {
							return d.size  + "px";
						})
						.style("font-family", "Impact")
						.attr("text-anchor", "middle")
						.style("fill", function (d, i) {
							return d.color ;
						})
						.attr("transform", function (d) {
							return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
						})
						.text(function (d) {
							return d.text;
						});
						setToolTip();
				}
		        
				drawWordCloud(frequency_list);
					
			 	function drawWordCloud(frequency_list) {
				
					var xScale = d3.scale.linear()
						.domain([0, d3.max(frequency_list, function (d) {
							return d.size;
						})])
						.range([12, 45]);
				
					d3.layout.cloud().size([width, height])
						.timeInterval(20)
						.words(frequency_list)
						.fontSize(function (d) {
							return xScale(+d.size);
						})
						.text(function (d) {
							return d.text;
						})
						.rotate(0)
						.font("Impact")
						.on("end", draw)
						.start();
					
				
				
				
				
					$(function () {
				
						$(".filter-menu").on('click', 'li a', function () {
							$(this).parents('.dropdown').find('.dropdown-toggle').html($(this).text() + "<span class='caret'></span>");
							$(this).parents('.dropdown').find('.dropdown-toggle').attr('data-id', $(this).attr('data-id'));
							$(this).parents('.dropdown').find('.dropdown-toggle').val($(this).text() + "<span class='caret'></span>");
				
							$.ajax({
								type: 'POST',
								url: "/variationpoints/filtered",
								accept: "application/json",
								data: JSON.stringify({
									productReleaseId: $("#product-list").find('.dropdown-toggle').attr("data-id"),
									developerId: $("#developer-list").find('.dropdown-toggle').attr("data-id"),
									featureName: feature
								}),
								datatype: "json",
								contentType: "application/json",
								success: function (data) {
									var newList = []
									groupSet = new Array();
									data.variationPoints.forEach(function (variationPoint) {
										fontSize = variationPoint.linesDeleted + variationPoint.linesAdded;
										 devGroup = variationPoint.mostImportantDeveloperGroup.devGroup;
										 addUniqueGroup(devGroup, groupSet);
										newList.push({
											"text": variationPoint.expression,
											"size": fontSize,
											"coreAssetName": variationPoint.coreAssetName,
											"coreAssetId": variationPoint.coreAssetId,
										    "color" : variationPoint.mostImportantDeveloperGroup.devGroup.color+colorGraduation(fontSize,variationPoint.mostImportantDeveloperGroup.modifiedLines)
										});
									});
									$(".legend").empty();
								    groupSet.sort(compareDevGroups).forEach(function(element){
								    	$(".legend").append('<li> Dev Group '+element.idDeveloperGroup+' <span class="badge" style="background-color:'+element.color+'"> </span></li>')
								    });	
					       			$("#tagcloud").find("svg").remove()
					       			  var xScale =  d3.scale.linear()
							           .domain([0, d3.max(newList, function(d) {
							              return d.size;
							            })
							           ])
								  .range([12, 55]);
					       		  d3.layout.cloud().size([width, height])
						              .timeInterval(20)
						              .words(newList)
						              .fontSize(function(d) { return xScale(+d.size); })
						              .text(function(d) { return d.text; })
						              .rotate(0)
						              .font("Impact")
						              .on("end", draw)
						              .start();
									setToolTip();
								}
				
							});
				
						});
				
					});
				}
			 	
			 	$(".breadcrumb-link").click(function(){
			 		window.location.href = '/features/?product='+$("#product-list").find('.dropdown-toggle').attr("data-id")+'&developer='+$("#developer-list").find('.dropdown-toggle').attr("data-id");
			 	});
			 	
			 	
			 	  $(function(){   $("#tagcloud").on('click', 'svg g a', function(){
				    	$(location).attr('href', $(this).attr('href')+"/?product="+$("#product-list").find('.dropdown-toggle').attr("data-id")+"&developer="+$("#developer-list").find('.dropdown-toggle').attr("data-id"));					
				        return false;

			 	  	});});
		
				function setToolTip(){
					$('[data-toggle="tooltip"]').tooltip({
						'container': 'body',
						'placement': 'bottom'
					})
				}
				
		</script>

	</section>

</body>
</html>
